In [25]:
original_lang = 'zh'
destination_lang = 'en'

In [26]:
import pandas as pd
from googletrans import Translator
import tqdm
import string
import time

In [27]:
original = pd.read_csv('../datasets/universal_joy_equal/equal_{}.txt'.format(original_lang), delimiter='\t',names=['text','emotion'])

In [28]:
text = original['text'][8]

In [29]:
text

'都是一样的哦~~~说没服务费~~~都是假的吧~~~'

In [30]:
translator = Translator()

In [31]:
translator.translate(text)

In [ ]:
translated = []
for i in tqdm.tqdm(original['text']):
    try:
        temp = translator.translate(i.translate(str.maketrans('','', string.punctuation)),dest=destination_lang).text
        time.sleep(0.5)
    except Exception as e:
        print("SKIPPING with error: {}".format(e))
        temp = i
    translated.append(temp)

  1%|          | 8/1491 [00:14<1:01:17,  2.48s/it]

SKIPPING with error: The read operation timed out

  4%|▍         | 62/1491 [01:32<57:07,  2.40s/it]

SKIPPING with error: The read operation timed out

 10%|▉         | 142/1491 [03:20<55:52,  2.49s/it]

SKIPPING with error: The read operation timed out

 11%|█         | 164/1491 [03:54<50:19,  2.28s/it]

SKIPPING with error: the JSON object must be str, bytes or bytearray, not NoneType

 11%|█▏        | 169/1491 [04:05<58:44,  2.67s/it]

SKIPPING with error: The read operation timed out

 16%|█▌        | 239/1491 [05:42<28:01,  1.34s/it]

In [22]:
translated_df = original
translated_df['text'] = translated

In [23]:
translated_df

                                                   text  emotion
0     Person now the bug will get to speak is easy I...    anger
1     Person that pity passed 000 posts by my face y...    anger
2     Phod good morning rs for those who vote or vot...    anger
3     Person This is the state of the street Doctor ...    anger
4     Ufa ufa person that night horrible without lig...    anger
...                                                 ...      ...
1486  Mc Daleste S0 Filhão Life taught me to say goo...  sadness
1487  My life, I love you, I love you, I love you, I...  sadness
1488  These close without your voice without your sc...  sadness
1489  People can not do but nothing my God enlighten...  sadness
1490  Person please anyone who finds this puppy warn...  sadness

[1491 rows x 2 columns]

In [24]:
translated_df.to_csv('../datasets/universal_joy_equal/equal_en_from_zh.csv')